/* =======================================
   CARRINHO — MOBILE (<=767px)
   Apenas ícone + badge
======================================= */

.minicart-wrapper {
    // sem position no mobile
}

.minicart-wrapper .action.showcart {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:before {
        background-image: url('@{baseDir}images/cart.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
        content: '';
        display: inline-block;
        margin-right: 4px;
    }
}

.minicart-wrapper .action.showcart .counter.qty {
    background: #005CFF;
    color: #fff;
    height: 21px;
    line-height: 21px;
    min-width: 18px;
    padding: 0 4px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    position: relative;
}

.minicart-wrapper .action.showcart .counter-number {
    text-shadow: none;
    font-weight: bold;
}

.minicart-wrapper .action.showcart.active::before {
    background-image: url('@{baseDir}images/cart.svg') !important;
}



/* =======================================
   CARRINHO — DESKTOP (>=768px)
======================================= */

@media (min-width: @screen__m) {

    .minicart-wrapper {
        display: inline-flex;
        align-items: center;
    }

    .minicart-wrapper .action.showcart {
        white-space: nowrap;
        display: inline-flex;
        align-items: center;

        &:before {
            background-image: url('@{baseDir}images/cart.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            content: '';
            display: inline-block;
            margin-right: 4px;
        }
    }

    .minicart-wrapper .action.showcart .counter.qty {
        background: #005CFF;
        color: #fff;
        height: 24px;
        line-height: 24px;
        min-width: 18px;
        padding: 0 3px;
        text-align: center;
        border-radius: 50%;
    }

    .minicart-wrapper .action.showcart .counter-number {
        text-shadow: none;
        font-weight: bold;
    }
}
