.action.primary {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: normal;
    padding: 10px 0;
}

.action.tocart.primary {
    border-radius: 0 0 15px 15px;
}

.product-item-inner {
    .product-item-actions {

        .actions-primary {
            display: inline;
            border-radius: 0 0 15px 15px;
        }

        .actions-secondary {
            display: none;
        }
    }
}

