.breadcrumbs a:visited {
    color: #000 !important;
}

.breadcrumbs strong {
    font-weight: bold !important;
    color: #000 !important;
}

.breadcrumbs .item:not(:last-child)::after {

    color: #DDDDDD !important;
}


@media only screen and (max-width: 767px) {
    .breadcrumbs {
        display: initial !important;
    }
}
