@media (min-width: 768px), print {
    .block.newsletter {
        max-width: 100% !important;
        width: max-content !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 64px !important;
        background: #F5F5F5 !important;
        border-radius: 8px;
    }
}


.block.newsletter .field .control::before {
    display: none;
}

#newsletter-name, #newsletter {
    height: 48px;
    width: 280px;
    border-radius: 8px;
    border: none;
}

.block.newsletter .form.subscribe {
    width: 100%;
    align-items: center;
    display: flex;
}

.block.newsletter input {
    margin-right: 24px;
}


.newsletter-privacy {
    color: #303030;
}

.privacy-policy-link, a:visited {
    text-decoration: underline;
    text-decoration-color: #656565;
    color: #656565;
}

.block.newsletter .action.subscribe {
    margin-left: 24px;
    white-space: nowrap;
    padding: 14px 24px;
    border-radius: 8px;
}

.action.subscribe.primary {
    width: initial !important;
}

.footer-columns-wrapper {
    justify-content: center;
    display: flex;
}
