.pages strong.page {
    background: #005CFF !important;
    padding: 0 10px !important;
    border-radius: 50% !important;
    color: #fff !important;
}

.pages .action {
    background: #005CFF !important;
    border-radius: 5px !important;
    border: none !important;

}

.pages .action.next::before,
.pages .action.previous::before {
    color: #C6D1E6 !important;
}
