.product-item {
    line-height: 0 !important;

    .product-reviews-summary.short {
        display: none;
    }

    .price-box {
        margin: 0 0 43px;
        display: flex;
        justify-content: center;
    }

    .product-item-name {
        margin: 9px 0 34px;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .product-item-info {
        margin-right: 13px;
    }
}

.product-item-photo {
    display: flex;
    justify-content: center;
}

.product-image-photo {
    padding: 6px 8px 9px;
}
