.toolbar select {
    background-color: #fff;
    border-color: #005CFF;
}


.toolbar .limiter-options  {
    border-color :#444444;
}

.toolbar {
    color :#444444;
    font-weight: bold;
}

.catalogsearch-result-index .toolbar.toolbar-products {
    margin-bottom: 65px !important;
    margin-top: 65px !important;
}

.catalogsearch-result-index .page-title {
    margin-top: 45px !important;

}


@media (min-width: 768px), print {
    .modes-mode.active {
        box-shadow: none !important;
        background: #005CFF !important;
        color: #FFF !important;
    }

    .modes-mode {
        border: none !important;
        background-color: #D9D9D9 !important;
        box-shadow: none !important;
    }

    .modes-label + .modes-mode {
        border-radius: 0 !important;
    }


    .modes-mode::before {
     color: #fff !important;
    }

    .modes-mode:last-child,
    .modes-mode:first-child {
        border-radius: 0 !important;
    }


}
