// Widgets and Sliders

.block.widget {
    .product-item-info {
        display: flex;
        flex-direction: column;
        border: 1px solid #DDD;
        border-radius: 15px;
        border-bottom: none;
    }
}
