.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .swatch-attribute.color {
        margin-bottom: 10px;
    }

    .swatch-attribute.size .swatch-option {
        margin-right: 10px;
    }
}

.filter .block-subtitle {
    border-bottom: none;
}


.filter-options-title {
    padding: 16px 40px 0 10px;
}

.filter.active .filter-subtitle {
    font-weight: 700;
}


@media only screen and (max-width: 767px) {
.filter.active .filter-title {
    border-bottom: none !important;
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    }

    .filter.active .filter-options-title {
        font-weight: 400 !important;
    }


}


.filter-options-item {
    border: solid 1px #F5F5F5;
}

.action.tocompare {
    display: none !important;
}

// Product Card
.product-item {

    .product-reviews-summary.short {
        display: none;
    }

    .price-box {
        margin: 0 0 43px 0;
        display: flex;
        justify-content: center;
    }

    .product-item-name {
        margin: 9px 0 34px;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .product-item-info {
        margin-right: 13px;
    }
}

.product-item-photo {
    display: flex;
    justify-content: center;
}


.action.primary {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: normal;
    padding: 10px 0 10px 0;

}

// Price
.price-container {
    .price {
        font-size: 15px;
        font-weight: bold;
    }
}

// Swatches
.swatch-option {
    border: 1px solid #707070;
    height: 20px;
    width: 20px;
    min-width: 0;
    border-radius: 50%;
}


.product-item {
    line-height: 0 !important;
}

.swatch-option.text {
    height: 27px;
    width: 27px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.swatch-attribute-options,
.swatch-attribute-options.clearfix {
    margin: 0;
    display: flex;
    justify-content: center;
}

.swatch-attribute.size {
    .swatch-option {
        background: #f0f0f0;
        color: #949494;
    }
}

.swatch-attribute.color {
    margin-bottom: 15px;
    margin-top: 30px;
    border: none;
    display: flex;
    justify-content: center;
}

.swatch-attribute.size .swatch-option {
    margin-right: 15px;
}


.swatch-attribute.size .swatch-option:last-child {
    margin-right: 0;
}

.swatch-attribute.size .swatch-option.selected {
    background: #005CFF;
    border: 1px solid #DFDFDF;
    color: #fff;
    outline: none;
}

.swatch-option:focus {
    box-shadow: none;
}

.product-image-photo {
    padding: 6px 8px 9px 8px;
}


.swatch-option.color {
    margin-right: 15px;
    border: none;
}

.swatch-option.color:last-child {
    margin-right: 0
}

// Widgets / Sliders
.block.widget {
    .product-item-info {
        display: flex;
        flex-direction: column;
        border: 1px solid #DDD;
        border-radius: 15px;
        border-bottom: none;
    }
}


// Actions
.product-item-inner {

    .product-item-actions {

        .actions-primary {
            display: inline;
            border-radius: 0 0 15px 15px;
        }

    }
}

.action.tocart.primary {
    border-radius: 0 0 15px 15px;
    min-width: 242px;
    min-height: 40px;
    position: absolute;
    width: 19%;
}

//

.installment-text {
    margin-top: 21px;

}








.products.list.items.product-items {
    display: flex !important;
    flex-wrap: wrap;
    gap: 32px;

}

.product-item .product-item-info {
    margin-right: 0 !important;
    margin-bottom: 24px;
    min-height: 524px;
    min-width: 238px;
    display: grid;

}

.products-list .product-item {
    display: flex;
}

[data-container="product-list"] {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    min-width: 974px !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    padding: 20px !important;
}


.products {
    margin: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
}

.filter-title strong {
    background-color: #fff;
    box-shadow: none;
    display: flex;
    gap: 4px;
    border: 1px solid #ddd;
    left: 0;
    line-height: 16px;
    padding: 7px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    border-radius: 8px;

}

.action.tocompare {
    display: none !important;
}


.catalogsearch-result-index .toolbar-amount {
    display: none;

}

.search.results .toolbar-amount {
    display: none;
}


.filter-title strong:before {
    .lib-css(background-image, url("@{baseDir}images/filter-button.svg"));
    .lib-css(content, """");
    .lib-css(display, block);
    .lib-css(width, 14px);
    .lib-css(height, 14px);
    .lib-css(font-weight, 600);
    .lib-css(background-repeat, no-repeat);
    .lib-css(background-size, contain);
    .lib-css(background-position, center);
}

.filter .active filter-title strong:before {

}

@media only screen and (max-width: 767px) {
    .filter.active .filter-title strong {
        box-shadow: none;
        background: none;
        border: 0;
        color: transparent;
        left: auto;
        right: 3px;
        top: -9px !important;
        display: inline-block;
        text-decoration: none;
    }
}




.page-with-filter .toolbar-amount {
    position: static;
    justify-content: center;
    display: flex;
    gap: 2px;
    font-weight: normal;
    color: #005CFF;
}

.toolbar select {
    border-color: #005CFF;
}

.tittle-category {
    margin-top: 55px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.category-description {
    margin-bottom: 0;
}

.tittle-category {
    margin-top: 55px;
    margin-bottom: 16px;
}

.actions-secondary {
    display: block !important;
    position: absolute;
    z-index: 1;
    margin-left: 197px;
    margin-top: -504px;
}

.product-item .action.towishlist::before {
    color: #005CFF;
}


.toolbar.toolbar-products {
    margin-top: 81px;
}

.amount-mobile {
    display: none;
}

.catalogsearch-result-index .toolbar-amount {
    display: inline-block !important;
}





.media-width(@extremum, @break) when (@extremum = "max") and (@break = @screen__m) {
    .page-with-filter .toolbar-amount {
        margin-bottom: 24px;
    }

    .catalogsearch-result-index .page-products .sorter {
        display: none !important;
    }


    .catalogsearch-result-index h1.page-title {
        justify-content: center !important;
        display: flex !important;
    }

    .catalogsearch-result-index .toolbar.toolbar-products {
        margin-bottom: 25px !important;
        margin-top: 88px !important;
    }

    .catalogsearch-result-index
    .search.results
    .toolbar-products
    .toolbar-sorter.sorter {
        display: none !important;
    }


    .catalogsearch-result-index .amount-mobile {
        color: #656565;
    }

    .catalogsearch-result-index .amount-mobile {
        display: initial;
    }

    .catalogsearch-result-index .amount-desktop {
        display: none;
    }

    .amount-default {
        display: none;
    }

    .amount-mobile {
        display: none;
    }



    .mobile-slide-category {
        display: none;
    }

    .tittle-category {
        margin-top: 26px !important;
        margin-bottom: 24px !important;
        justify-content: initial;
    }

    .tittle-category p {
        font-size: 20px !important;
    }

}


[data-container="product-list"] .action.tocart.primary {
    border-radius: 15px !important;
    margin-top: 24px;
    margin-bottom: 26px;
}
