span.amount-desktop {
    color: #005CFF;
    font-weight: 400;



}

.toolbar.toolbar-products {
    margin-top: 0 !important;
}


@media (max-width: 767px) {
    .catalogsearch-result-index .amount-desktop {
        display: none;
    }


     .search.results .toolbar-amount {
        display: flex !important;
        justify-content: center;
    }

    .catalogsearch-result-index .amount-mobile {
        display: flex !important;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    span.amount-desktop {
        display: flex;
        justify-content: center;


    }
}

.catalogsearch-result-index span.amount-desktop, span.amount-mobile {
    display: none !important;
}
.breadcrumbs {
    display: block;
}

bundle-options-container .block-bundle-summary .product-addto-links > .action::before, .product-item-actions .actions-secondary > .action::before, .product-social-links .action.tocompare::before, .wishlist.split.button > .action.split::before, .product-social-links .action.mailto.friend::before, .product-social-links .action.towishlist::before, .block-bundle-summary .action.towishlist::before, .product-item .action.towishlist::before, .table-comparison .action.towishlist::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 16px;
    color: #005CFF;
    font-family: 'luma-icons';
    margin: -2px 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}




/* =========================
   BREAKPOINT MOBILE
========================= */
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .swatch-attribute.color {
        margin-bottom: 10px;
    }

    .toolbar.toolbar-products {
        margin-top: 29px;
    }

    span.amount-desktop {
        display: flex;
        justify-content: center;
    }




    .swatch-attribute.size .swatch-option {
        margin-right: 10px;
    }

    .page-with-filter .toolbar-amount {
        margin-bottom: 24px;
    }

    .catalogsearch-result-index .page-products .sorter,
    .catalogsearch-result-index
    .search.results
    .toolbar-products
    .toolbar-sorter.sorter {
        display: none !important;
    }

    .catalogsearch-result-index h1.page-title {
        display: flex !important;
        justify-content: center !important;
    }

    .catalogsearch-result-index .toolbar.toolbar-products {
        margin-top: 88px !important;
        margin-bottom: 25px !important;
    }

    .catalogsearch-result-index .amount-mobile {
        display: initial;
        color: #656565;
    }

    .catalogsearch-result-index .amount-desktop,
    .amount-default,
    .mobile-slide-category {
        display: none;
    }

    .tittle-category {
        margin-top: 26px !important;
        margin-bottom: 24px !important;
        justify-content: initial;
    }

    .tittle-category p {
        font-size: 20px !important;
    }
}

/* =========================
   FILTER
========================= */
.filter .block-subtitle {
    border-bottom: none;
}

.filter-options-title {
    padding: 16px 40px 0 10px;
}

.filter.active .filter-subtitle {
    font-weight: 700;
}

.field.limiter {
    margin-top: 81px;
}

.items.pages-items {
    margin-top: 81px;
}

.filter-options-item {
    border: 1px solid #F5F5F5;
    border-right: none;
    border-left: none;


}

.filter-title strong {
    background-color: #fff;
    box-shadow: none;
    display: flex;
    gap: 4px;
    border: 1px solid #ddd;
    left: 0;
    line-height: 16px;
    padding: 7px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    border-radius: 8px;
}

.filter-title strong:before {
    .lib-css(background-image, url("@{baseDir}images/filter-button.svg"));
    .lib-css(content, "");
    .lib-css(display, block);
    .lib-css(width, 14px);
    .lib-css(height, 14px);
    .lib-css(background-repeat, no-repeat);
    .lib-css(background-size, contain);
    .lib-css(background-position, center);
}

@media only screen and (max-width: 767px) {
    .filter.active .filter-title {
        border-bottom: none !important;
        height: 48px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .filter.active .filter-options-title {
        font-weight: 400 !important;
    }

    .filter.active .filter-title strong {
        background: none;
        border: 0;
        color: transparent;
        right: 3px;
        top: 10px !important;
        left: auto;
        box-shadow: none;
    }
}

/* =========================
   PRODUCT LIST / GRID
========================= */
.products.list.items.product-items {
    display: flex !important;
    flex-wrap: wrap;
    gap: 32px;
}

.products-list .product-item {
    display: flex;
}

.products {
    margin: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
}

[data-container="product-list"] {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    min-width: 974px !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    padding: 20px !important;
}

/* =========================
   PRODUCT CARD
========================= */
.product-item {
    line-height: 0 !important;

    .product-reviews-summary.short {
        display: none;
    }

    .product-item-name {
        margin: 9px 0 34px;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .price-box {
        margin: 0 0 43px;
        display: flex;
        justify-content: center;
    }
}

.product-item-photo {
    display: flex;
    justify-content: center;
}

.product-item-info {
    position: relative;
}





.product-item .product-item-info {
    margin-bottom: 24px;
    min-height: 524px;
    min-width: 238px;
    display: grid;
    grid-template-rows: auto;
}

/* =========================
   PRICE
========================= */
.price-container .price {
    font-size: 15px;
    font-weight: bold;
}

/* =========================
   ACTIONS
========================= */
.action.primary {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: normal;
    padding: 10px 0;
}

.product-item-inner .product-item-actions .actions-primary {
    display: inline;
    border-radius: 0 0 15px 15px;
}

.action.tocart.primary {
    position: absolute;
    min-width: 237px;
    min-height: 40px;
    width: initial;
    border-radius: 0 0 15px 15px;
}

[data-container="product-list"] .action.tocart.primary {
    border-radius: 15px !important;
    margin: 24px 0 26px;
}

.actions-secondary {
    display: block !important;
    position: absolute;
    z-index: 1;
    margin-left: 197px;
    margin-top: -579px;
}

.action.tocompare {
    display: none !important;
}

/* =========================
   SWATCHES
========================= */
.swatch-option {
    border: 1px solid #707070;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.swatch-option.text {
    height: 27px;
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swatch-attribute-options {
    margin: 0;
    display: flex;
    justify-content: center;
}

.swatch-attribute.size .swatch-option {
    background: #f0f0f0;
    color: #949494;
    margin-right: 15px;
}

.swatch-attribute.size .swatch-option:last-child {
    margin-right: 0;
}

.swatch-attribute.size .swatch-option.selected {
    background: #005CFF;
    border: 1px solid #DFDFDF;
    color: #fff;
}

.swatch-attribute.color {
    margin: 30px 0 15px;
    display: flex;
    justify-content: center;
    border: none;
}

.swatch-option.color {
    margin-right: 15px;
    border: none;
}

.swatch-option.color:last-child {
    margin-right: 0;
}

/* =========================
   TOOLBAR / SEARCH
========================= */
.search.results .toolbar-amount {
    display: none;
}

.catalogsearch-result-index .toolbar-amount {
    display: inline-block !important;
}

.toolbar select {
    border-color: #005CFF;
}

.toolbar.toolbar-products {
    margin-top: 81px;
}

/* =========================
   CATEGORY
========================= */
.tittle-category {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.category-description {
    margin-bottom: 0;
}

.installment-text {
    margin-top: 21px;
    margin-bottom: 40px;
}

.old-price {
    color: #000;
    text-decoration: line-through;
}


.product-item-actions .actions-primary + .actions-secondary > .action {
    line-height: 0  !important;
    text-align: center;
    width: 35px;
}
