.search-term {
    .lib-css(color, @theme__color__primary);
}

.no-found-container {
    .lib-css(display, flex );
    .lib-css(justify-content, center);
}


.list-instructions {
    .lib-css(list-style, none);
    color: #656565;
}

.no-found-container p {
    .lib-css(align-items, center);
    .lib-css(display, flex);
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.search-no-found {
    font-size: 27px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
    margin-top: 40px;

}

.media-width(@extremum, @break) when (@extremum = "max") and (@break = @screen__m) {
    .no-found-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}





#html-body .block-static-block [data-content-type="row"] .title-item-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;


}

.title-item-container {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row  !important;
    align-items: center !important;


}

.catalogsearch-result-index .search.results dl.block {
    margin: 0;
    padding: 0;
}

.catalogsearch-result-index .search.results dl.block dt,
.catalogsearch-result-index .search.results dl.block dd {
    display: none !important;
}

.products-grid {
    .product-item-info:hover {
        box-shadow: none !important;
        transform: none !important;
    }

    .product-item-info {
        transition: none !important;
    }
}
