@import 'common/_promo.less';
@import 'common/_navigation.less';

.block-static-block.widget, .block-cms-link.widget {
    margin-bottom: 0 !important;
}


.pagebuilder-column.destaque-secao {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: initial !important;
    gap: 12px;

}


.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    border-radius: 50%;
    border: 2px solid #005CFF;
    width: 30px;
    height: 30px;
    opacity: 1;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.slick-prev{
    left: -1.4rem;
}

.slick-next {
    right: -1.4rem;

}

.slick-next::before,
.slick-prev::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.slick-prev::before {
    padding-right: 12px;
    background-image: url('@{baseDir}images/slick/right-slick-arrow.svg');
}

.slick-next::before {
    padding-left: 12px;
    background-image: url('@{baseDir}images/slick/left-slick-arrow.svg');
}

    .shop-by-category {
        display: flex;
        flex-wrap: wrap;
    }

    .media-width(@extremum, @break) when
        (@extremum = "max")
        and
        (@break = @screen__m) {
        .store-benefits {
            margin-right: 0;

        }
    }


