@import 'common/_promo.less';
@import 'common/_navigation.less';
@import 'components/_product-card.less';
@import 'components/_swatches.less';
@import 'components/_actions.less';
@import 'components/_price.less';
@import 'components/_widgets.less';
@import 'components/_slick.less';

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #html-body .reset-right-margin {
        margin-right: 0 !important;
    }


    .hide-mobile-item {
        display: none !important;
    }

    #html-body .block-static-block [data-content-type="row"] .slick-buy-mark {
        display: flex ;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 100.3%;
        gap: 16px;
        justify-content: space-around ;
    }

    .slick-buy-mark img {
        width: 108px;
        height: 56px;
    }
    .underline-item {
        color: #303030;
        text-decoration: underline;
        text-decoration-color: #303030;
    }

    .underline-item-mark span {
        color: #005CFF;
        text-decoration: underline;
        text-decoration-color: #005CFF;
    }


}

#html-body .block-static-block [data-content-type="row"] .title-item-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.destaque-secao img {
    display: grid;
}

.topo-secao-1-container {
    display: flex;
    margin-bottom: 72px;
    flex-wrap: wrap;
}

.slick-buy-mark img {
    width: 190px;
    height: 106px;
}

.topo-secao-1-item {
    align-items: center;
    gap: 8px;
}

.hide-mobile-item {
    display: none;
}

.block-static-block.widget,
.block-cms-link.widget {
    margin-bottom: 0 !important;
}

.pagebuilder-column.destaque-secao {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: initial !important;
    gap: 12px;
}

.shop-by-category {
    display: flex;
    flex-wrap: wrap;
}

.media-width(@extremum, @break) when (@extremum = "max") and (@break = @screen__m) {
    .store-benefits {
        margin-right: 0;
    }
}
