// =======================================
//  PROMO BAR (Mobile First)
// =======================================
.promo-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.promo-highlight {
    background: #6220c1;
    padding: 1px 2px;
    margin: 0 2px;
    border-radius: 4px;
}

// =======================================
//  LOGIN LINK (com ícone)
// =======================================
.login-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.login-link:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('@{baseDir}images/user.svg') no-repeat center;
    background-size: contain;
}

// =======================================
//  SEARCH FIELD (Mobile First)
// =======================================
.block-search input {
    font-size: 16px;
    padding: 0 24px 0 !important;
}

// =========================
//  MOBILE FIRST (Default)
// =========================
.block.block-search {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    position: relative;
    width: 100%;
    max-width: 361px;
    z-index: 4;
}

button.action.search {
    right: 140px;
}

// =========================
//  DESKTOP (min-width)
// =========================
@media (min-width: @screen__m) {
    .logo {
        margin: 0 3.125rem 0 0 !important;
    }

    .block-search.block-search {
        width: 594px;
        padding-right: 13.1875rem;
    }
    .block-search .block-content {
        margin-bottom: 0;
        width: 594px;
    }
}
